---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
import { basics } from "../content/resume.json";

const { profiles, email } = basics;

const iconList: Record<string, string> = {
  stackoverflow: "ion:logo-stackoverflow",
  twitter: "ion:logo-twitter",
  instagram: "ion:logo-instagram",
  linkedin: "ion:logo-linkedin",
  github: "ion:logo-github",
  email: "ion:mail-outline",
};

const linkList = [
  {
    networkName: "email",
    url: `mailto:${email}`,
    icon: iconList.email,
    size: "30",
  },
  ...profiles.map((p) => ({
    ...p,
    icon: iconList[p.network.toLocaleLowerCase()],
    size: "28",
  })),
];
---

<div class="flex gap-4">
  {
    linkList.map((l) => (
      <Link
        href={l.url}
        target="_blank"
        dontShowIcon={true}
        class="text-text hover:text-primary hover:bg-background"
      >
        <Icon name={l.icon} size={l.size} />
      </Link>
    ))
  }
</div>
